numpy==1.26.4
nltk
spacy
scispacy
pyLDAvis
sentence-transformers==2.2.2  
gensim==4.2.0
pandas==1.3.3
biopython==1.79
wordcloud
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_lg-0.5.4.tar.gz
